html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Space Grotesk", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background: #f2f7fc;
}
#root {
  min-height: 100vh;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bg-app {
  background-color: #1f4f86 !important;
}

.bg-app-secondary {
  background-color: #1a487b !important;
}

.text-app {
  color: #1f4f86 !important;
}
